spreadsheets/*.csv
cards/card_tilings/*.png
cards/card_tilings/quarantine/*.png
cards/processed_cards/*.png
cards/processed_cards/quarantine/*.png
cards/unprocessed_cards/*.png

log.txt
report.txt

# python
__pycache__/

# git
!.gitkeep